body {
  background-color: #fff4eb;
}

h1, table {
  text-align: center;
}

tr[class="read"] {
  background-image: linear-gradient(to bottom, #B2E3AF, #D6FAC3);
}

tr[class="to-read"] {
  background-image: linear-gradient(to bottom,#F2C063, #FFEFCC);
}

tr[class="in-progress"] {
  background-image: linear-gradient(to bottom, #916B4B, #E3D1BA);
}

span {
  display: inline-block;
}

tr[class="to-read"] span[class="status"] {
  border: 1px solid orange;
  background-image: linear-gradient(to bottom, #F2C063, #FFEFCC);
  border-radius: 20px;
}

tr[class="read"] span[class="status"] {
  border: 1px solid green;
  background-image: linear-gradient(to bottom, #B2E3AF, #D6FAC3);
  border-radius: 20px;
}

tr[class="in-progress"] span[class="status"] {
  border: 1px solid #6f4e37;
  background-image: linear-gradient(to bottom, #916B4B, #E3D1BA);
  border-radius: 20px;
}

span[class="status"],
span[class^="rate"] {
  height: 20px;
  width: 80px;
  padding: 5px;
}

span[class^="rate"] > span {
  border: 1px solid black;
  border-radius: 50%;
  margin: 2px;
  height: 10px;
  width: 10px;
  background-color: lightgray;
}

span[class~="one"] span:first-child {
  background-image: linear-gradient(#F5DC3D, #F5DC3D);
}

span[class~="two"] span:nth-child(1),
span[class~="two"] span:nth-child(2) {
  background-image: linear-gradient( #F5DC3D, #F5DC3D);
}

span[class~="three"] span {
  background-image: linear-gradient(#F5DC3D, #F5DC3D);
}
